torch
auto-gptq
packaging
peft
transformers
bitsandbytes
accelerate
deepspeed
addict
fire
PyYAML
datasets
flash-attn
sentencepiece
wandb
einops
optimum
hf_transfer
colorama
numba
numpy
# qlora things
bert-score
evaluate
rouge-score
scipy
scikit-learn
pynvml
art
fschat
